[submodule "janus/Auto-Pairs"]
	path = janus/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule "janus/vim-arduino"]
	path = janus/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "janus/vim-arduino-syntax"]
	path = janus/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "vim-fswitch"]
	path = janus/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "janus/vim-misc"]
	path = janus/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "janus/vim-session"]
	path = janus/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "janus/ctrlp-cmatcher"]
	path = janus/ctrlp-cmatcher
	url = https://github.com/JazzCore/ctrlp-cmatcher.git
[submodule "elm-vim"]
	path = janus/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim-slime"]
	path = janus/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim-toml"]
	path = janus/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "emmet-vim"]
	path = janus/emment-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "janus/vim-slim"]
	path = janus/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "janus/matchit.zip"]
	path = janus/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "janus/vim-windowswap"]
	path = janus/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "janus/vim-bundler"]
	path = janus/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "janus/vim-projectionist"]
	path = janus/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "janus/fzf"]
	path = janus/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "janus/fzf.vim"]
	path = janus/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "janus/ruby/vim-ruby"]
	path = janus/ruby/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "janus/vim-ruby"]
	path = janus/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "janus/vim-rhubarb"]
	path = janus/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "janus/vim-autoformat"]
	path = janus/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat.git
[submodule "janus/vim-rubocop"]
	path = janus/vim-rubocop
	url = https://github.com/ngmy/vim-ruboco.git
[submodule "janus/splitjoin.vim"]
	path = janus/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "janus/copilot.vim"]
	path = janus/copilot.vim
	url = https://github.com/github/copilot.vim.git
