[submodule "janus/Auto-Pairs"]
	path = janus/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule "janus/vim-arduino"]
	path = janus/vim-arduino
	url = https://github.com/tclem/vim-arduino.git
[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "janus/vim-arduino-syntax"]
	path = janus/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "vim-fswitch"]
	path = janus/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
