[submodule "janus/Auto-Pairs"]
	path = janus/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule "janus/vim-arduino"]
	path = janus/vim-arduino
	url = git@github.com:tclem/vim-arduino.git
[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "janus/zencoding-vim"]
	path = janus/zencoding-vim
	url = git://github.com/terryma/vim-multiple-cursors.git
